.platinum-ps4 { width : 21.78%; background-color : var(--platine-color);}
.gold-ps4 { width : 26.21%; background-color : var(--gold-color);}
.silver-ps4 { width : 28.30%; background-color : var(--silver-color);}
.bronze-ps4 { width : 33.63%; background-color : var(--bronze-color);}

.games-show-ps4 {
   margin: 10px;
   overflow: hidden;
   position: relative;
   box-shadow: 0px 0px 5px #9b9b9b;
}

.games-show-ps4 .mask,
.games-show-ps4 .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.games-show-ps4 > img {
   display: block;
   position: relative;
	 margin : auto;
	 width : 304px;
}

.games-show-ps4 h2 {
   text-transform: uppercase;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}

.games-show-ps4 .date-platined {
	text-align: center;
  font-size: 11px;
  text-transform: uppercase;
}

.effect-show-ps4 .mask-1,
.effect-show-ps4 .mask-2 {
    height: 600px;
    width: 600px;
    background: rgba(0, 114, 206, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    transition: all 0.3s ease-in-out 0.6s;
}
.effect-show-ps4 .mask-1 {
    left: auto;
    right: 0;
    transform: rotate(40.4deg) translateX(-250px);
    transform-origin: 100% 0%;
}
.effect-show-ps4 .mask-2 {
    top: auto;
    bottom: 0;
    transform: rotate(40.4deg) translateX(250px);
    transform-origin: 0% 100%;
}
.effect-show-ps4 .content {
    background: rgba(0, 0, 0, 0.9);
    height: 0;
		width : 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    overflow: hidden;
    transform: rotate(-33.5deg) translate(-112px, 166px);
    transform-origin: 0% 100%;
    transition: all 0.4s ease-in-out 0.3s;
}
.effect-show-ps4 h2 {
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.effect-show-ps4:hover .content {
    height: 217px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    top: 20%;
    transform: rotate(0deg) translate(0, 0);
		position : absolute;
		left : 0;
}

.effect-show-ps4:hover .mask-1,
.effect-show-ps4:hover .mask-2 {
    transition-delay: 0s;
}
.effect-show-ps4:hover .mask-1 {
    transform: rotate(40.4deg) translateX(0);
}
.effect-show-ps4:hover .mask-2 {
    transform: rotate(40.4deg) translateX(0);
}	

.platined-ps4,
.not-platined-ps4,
.without-platine-ps4 {
	display : flex;
	justify-content : center;
	align-items : center;
	padding : 10px;
}

.platined-ps4:before,
.platined-ps4:after {
	content : ' ';
	position : absolute;
	width : 600px;
	height : 600px;
	background-image : conic-gradient(transparent,transparent,transparent, var(--platine-color));
	animation : animate 3s linear infinite;
}

.without-platine-ps4:before,
.without-platine-ps4:after {
	content : ' ';
	position : absolute;
	width : 600px;
	height : 600px;
	background-image : conic-gradient(transparent,transparent,transparent, var(--gold-color));
	animation : animate 3s linear infinite;
}

.platined-ps4:after,
.without-platine-ps4:after {
	animation-delay : -1.5s;
	z-index : -1;
}

@keyframes animate 
{
	0%
	{
		transform : rotate(0deg);
	}
	100%
	{
		transform : rotate(360deg);
	}
}

#cb4,
#momkh,
#morales,
#fallenlegion,
#amalur,
#naruto,
#psychopass,
#coldwar,
#virtua-fighter,
#starwars { font-size : 15px; }

#cb2,
#hmtone,
#uncharted,
#terremilieu { font-size : 13px; }

#khmemory,
#kungfu { font-size : 14px; }

#manofm,
#smt3,
#skyrim,
#littlehope,
#manofmedan { font-size : 12px; }