/*RACINE & CSS GENERAL */
:root {
    --second-color : #e60012;
}

.site-header {
    background-color : var(--nintendo-color);
    background-image : none;
}

.games-show-nintendo {
    margin: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 5px #9b9b9b;
}

.games-show-nintendo .mask,
.games-show-nintendo .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.games-show-nintendo > img {
    display: block;
    position: relative;
    margin : auto;
    height : 305px;
    width : 305px;
}

.games-show-nintendo h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 16px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}


.effect-show-nintendo .mask-1,
.effect-show-nintendo .mask-2 {
    height: 600px;
    width: 600px;
    background: rgba(230,0,18,0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    transition: all 0.3s ease-in-out 0.6s;
}
.effect-show-nintendo .mask-1 {
    left: auto;
    right: 0;
    transform: rotate(44.9deg) translateX(-250px);
    transform-origin: 100% 0%;
}
.effect-show-nintendo .mask-2 {
    top: auto;
    bottom: 0;
    transform: rotate(44.9deg) translateX(250px);
    transform-origin: 0% 100%;
}
.effect-show-nintendo .content {
    background: rgba(0, 0, 0, 0.9);
    height: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    width: 458px;
    overflow: hidden;
    transform: rotate(-33deg) translate(-112px, 166px);
    transform-origin: 0% 100%;
    transition: all 0.4s ease-in-out 0.3s;
}
.effect-show-nintendo h2 {
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.effect-show-nintendo:hover .content {
    height: 119px;
    width: 325px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    top: 31.8%;
    transform: rotate(0deg) translate(0, 0);
	position : absolute;
	left : 0;
}

.effect-show-nintendo:hover .mask-1,
.effect-show-nintendo:hover .mask-2 {
    transition-delay: 0s;
}
.effect-show-nintendo:hover .mask-1 {
    transform: rotate(44.9deg) translateX(0);
}
.effect-show-nintendo:hover .mask-2 {
    transform: rotate(44.9deg) translateX(0);
}	

.ds-nintendo {
	display : flex;
	justify-content : center;
	align-items : center;
	height : 305px;
	padding : 10px;
}

#zoot, 
#zelda-wild,
#mhs { font-size : 14px; }
#ffcc,
#zelda-kingdom { font-size : 13px; }


/*SWITCH*/

.games-show-switch  {
    margin: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 5px #9b9b9b;
}

.games-show-switch .mask,
.games-show-switch .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.games-show-switch > img {
    display: block;
    position: relative;
    object-fit : fill;
    margin : auto;
    height : 495px;
    min-width : 305px;
}

.games-show-switch h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 16px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}


.effect-show-switch .mask-1,
.effect-show-switch .mask-2 {
    height: 700px;
    width: 700px;
    background: rgba(230,0,18,0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    transition: all 0.3s ease-in-out 0.6s;
}
.effect-show-switch .mask-1 {
    left: auto;
    right: 0;
    transform: rotate(32.2deg) translateX(-290px);
    transform-origin: 100% 0%;
}
.effect-show-switch .mask-2 {
    top: auto;
    bottom: 0;
    transform: rotate(32.2deg) translateX(290px);
    transform-origin: 0% 100%;
}
.effect-show-switch .content {
    background: rgba(0, 0, 0, 0.9);
    height: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    width: 458px;
    overflow: hidden;
    transform: rotate(-32.2deg) translate(-112px, 166px);
    transform-origin: 0% 100%;
    transition: all 0.4s ease-in-out 0.3s;
}
.effect-show-switch h2 {
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.effect-show-switch:hover .content {
    height: 119px;
    width: 325px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    top: 38.5%;
    transform: rotate(0deg) translate(0, 0);
	position : absolute;
	left : 0;
}

.effect-show-switch:hover .mask-1,
.effect-show-switch:hover .mask-2 {
    transition-delay: 0s;
}
.effect-show-switch:hover .mask-1 {
    transform: rotate(32.2deg) translateX(0);
}
.effect-show-switch:hover .mask-2 {
    transform: rotate(32.2deg) translateX(0);
}	

.switch-nintendo {
	display : flex;
	justify-content : center;
	align-items : center;
	height : 495px;
	width : 305px;
	padding : 10px;
}

@media only screen and (max-width: 912px) {
    .site-navigation .list { 
		background: rgba(230, 0, 19, 0.5);
	}
}


@media only screen and (max-width: 768px) {
        .site-sidebar__back {
        position: relative;
        display: flex;
        gap: 1rem;
        width: 100%;
		align-items: center;
		justify-content: space-around;
    }
    
    .site-sidebar__avatar img { width: 100%; }
    .site-sidebar__pseudo { font-size : 1.5rem; }
    .site-sidebar__avatar-pseudo { width: 20%; }

    .block-trophies {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
		width: 100%;
    }

    .site-sidebar__informations { width: 70%; }
	.item-line { margin-top : 12px; padding: 0; }
    .section-title {font-size: 1rem;}
    .nintendo-main { margin-left: 0; }
}

@media only screen and (max-width: 480px) {
    .site-sidebar__pseudo { font-size : 1rem; }
    .block-trophies { gap: 0.2rem; }
    .item-line { font-size: 0.7rem; }
    .site-sidebar__informations { font-size: 0.7rem; }
}

@media only screen and (max-width: 425px) {
    .site-sidebar__pseudo { font-size : 0.6rem; }
    .block-trophies { gap: 0.1rem; }
    .item-line { font-size: 0.6rem; }
}