/* RACINE */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

:root {
	--site-logo: url("../images/logo.png") no-repeat 0 center scroll;
	--main-bg-color: #fff;
	--accent-text-color: #fff;
	--accent-color: #0072ce;
	--lighter-accent-color: #5cb8ff;
	--shadow-color: #9b9b9b;
	--platine-color : #A0B2C6;
	--gold-color : #cf9836;
	--silver-color : #9ea6a8;
	--bronze-color : #b65f52;
	--no-platine-img : url("https://static.psthc.fr/trophees_ps5/2020-platinum-impossible-small.png");
	--platine-img : url("https://static.psthc.fr/trophees_ps5/2020-platinum-trophy-small.png");
	--gold-img : url("https://static.psthc.fr/trophees_ps5/2020-gold-trophy-small.png");
	--silver-img : url("https://static.psthc.fr/trophees_ps5/2020-silver-trophy-small.png");
	--bronze-img : url("https://static.psthc.fr/trophees_ps5/2020-bronze-trophy-small.png");
	--bg-header : url("../images/menu-background.jpg") no-repeat top center;
	--ps1-color : #666971;
	--ps2-color : #445c8f;
	--psp-color : #000;
	--gamecube-color : #8577c1;
	--youtube-color : #f03;
	--twitch-color : #9147ff;
}

::-webkit-scrollbar {
  	width: 8px;
}
 
::-webkit-scrollbar-thumb{
  	background : var(--accent-color);
}

/* CSS GENERAL */
html {
  	height : 100%;
}

body {
	background-color: var(--main-bg-color);
	font-family : Roboto;
	line-height : 150%;
	height : 100%;
	font-size: 100%;
	overflow-x: hidden;
}

a { 
	color : var(--accent-text-color); 
}

/* DARKMODE */
body.dark {
	--main-bg-color: #1a191f;
	--accent-color: #302f39;
	--lighter-accent-color: #656470;
    --shadow-color: #000;
}

.dark .trophies,
.dark .site-sidebar__pseudo,
.dark .link:hover {
	color: var(--accent-text-color);
}

.dark .selected:hover:after,
.dark .selected:after {
	border-color : transparent transparent var(--accent-text-color) transparent;
}

.dark .site-header {
	background: url("../images/menu-background-dark.jpg") no-repeat top center;
}

.dark .paragraphes-informations a:hover {
	color: var(--accent-text-color);
}

/* BOUTON DARKMODE */
.theme-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  border-radius: 32px;
  transition: background-color 0.4s;
}

.theme-toggle .thumb {
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.theme-toggle .thumb i {
  font-size: 14px;
  color: #333;
  transition: color 0.3s;
}

/* CERCLE GLISSE À DROITE quand checked */
input:checked + .slider .thumb {
  transform: translateX(28px);
}

/* Change l’icône et sa couleur */
input:checked + .slider .thumb i {
  color: #2196F3;
}

input:checked + .slider {
  background-color: #2196F3;
}

/* TOPBAR */
.top-bar {
	width: 100%;
	background-color: var(--accent-color);
}

.top-bar-limits {
	padding: 0.5rem 4rem;
	display: flex;
	justify-content: flex-end;
	gap: 2rem;
}

.top-bar button {
	background: transparent;
    border: none;
    color: var(--accent-text-color);
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 10px;
	transition: transform 0.25s ease;
}

.top-bar button:hover {
  transform: scale(1.2);
}

/*HEADER */
.site-header {
	background : var(--bg-header);
	box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	position : sticky;
	top : 0;
	left : 0;
	z-index : 1;
	width : 100%;
}

.site {
	width : 100%;
	position : relative;
	min-height : 100%;
}

.limits {
	margin : 0 2%;
	display : flex;
	justify-content : space-between;
}

.site-navigation {
  	text-align : right;
}

.header-icon {
	background : var(--site-logo);
	width : 390px;
	background-size : 100%;
}

/* NAVIGATION */
.list {
	display: flex;
	align-items: center;
	transition: 400ms max-height ease;
}

.link {
	font-family : 'Noto Sans';
	display : block;
	position : relative;
	padding : 30px;
	transition : 0.2s;
	text-transform : uppercase;
	font-size: 1rem;
}

.link:hover {
	background : var(--main-bg-color);
	color : var(--accent-color);
	font-weight : bold;
}

.selected:after {
	position: absolute;
	display: block;
	content: "";
	border-style: solid;
	border-width: 8px;
	border-color: transparent transparent var(--main-bg-color) transparent;
	bottom: 0;
	right: 45%;
}

.selected:hover:after {
	border-color : transparent transparent var(--accent-color) transparent;
}

/*.sub-link {
	padding : 30px 0;
	text-align: center;
	width: 100%;
}*/

/*PAGES PRINCIPALES*/
.site-main {
	padding: 3rem 2rem 200px 2rem;
}

.section-title,
.changelog-content h2 {
	background : var(--accent-color);
	color: var(--accent-text-color);
	text-align : center;
	font-size : 3rem;
	text-transform : uppercase;
	font-family : 'Noto Sans';
	margin-bottom: 1.5rem;
	padding : 30px 0;
	margin-top: 30px;
}

.first-section, 
.second-section {
	margin : auto;
	display : flex;
	flex-wrap : wrap;
	justify-content : space-evenly;
	gap : 1.5em;
}

/* FOOTER */
.site-footer {
	background : var(--accent-color);
	color: var(--accent-text-color);
	width : 100%;
	position : absolute;
	left: 0;
	bottom : 0;
	z-index : 1;
	text-align: center;
}

.social-list {
	padding : 20px 0 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.social-list a {
	display : block;
	height : 48px;
	width : 48px;
}

.footer-twitch,
.footer-youtube,
.footer-twitter,
.footer-facebook,
.footer-discord {
	width : 48px;
	height : 48px;
	border-radius : 50px;
	background-image : url("../images/sprites.png");
	background-repeat: no-repeat;
}

.footer-twitch {
  	background-position : 0 0;
}

.footer-twitch:hover {
	background-position : 0 -48px;
}

.footer-youtube {
	background-position : -48px 0;
}

.footer-youtube:hover {
	background-position : -48px -48px;
}

.footer-twitter {
	background-position : -96px 0;
}

.footer-twitter:hover {
	background-position : -96px -48px;
}

.footer-facebook {
	background-position : -144px 0;
}

.footer-facebook:hover {
	background-position : -144px -48px;
}
  
.footer-discord {
	background-position : -192px 0;
}

.footer-discord:hover {
	background-position : -192px -48px;
}

/* HAMBURGER MENU */
.menu-hamburger { 
	display: none;
}

/* SIDEBAR GAMES PAGES */
.site-sidebar__back {
	width : 250px;
	position : fixed;
	left : 0;
	top : 84px;
	height : 100%;
	background : var(--main-bg-color);
	box-shadow : 8px 0 16px 0 rgba(0, 0, 0, 0.2);
	color : var(--accent-text-color);
	transition: background-color 0.4s;
}

.site-sidebar__avatar img {
	width : 250px;
}

.site-sidebar__pseudo {
	text-align : center;
	margin : 10px 0 0 0;
	text-transform: uppercase;
	color : var(--accent-color);
	font-size : 2rem;
}

.site-sidebar__list {
	margin : 10px auto;
}

.item-line {
	background : var(--accent-color);
	padding : 5px;
	text-align : center;
	text-transform: uppercase;
  	margin-top : 20px;
	font-size : 13px;
}

.trophies-pictures {
	width : 17px;
	height : 17px;
	background-repeat : no-repeat;
	margin : 5px;
}

.no-platine-picture {
	width : 17px;
	background-image : var(--no-platine-img);
}

.platine-picture {
	width : 17px;
	background-image : var(--platine-img);
}

.gold-picture {
	background-image : var(--gold-img);
}

.silver-picture {
	background-image : var(--silver-img);
}

.bronze-picture {
	background-image : var(--bronze-img);
}

.block-trophies {
	font-size : 13px;
	text-align : center;
	margin : 10px auto;
}

.trophies,
.games-trophies {
	text-align : center;
	width : 100%;
	padding-top : 3px;
	display : flex;
	align-items : baseline;
	justify-content : center;
}

.trophies {
	color: var(--accent-color);
}

.percentage-background {
	width : 100%;
}

.percentage-bar {
	position : relative;
	height : 24px;
	box-shadow : 0 0px 16px 0 rgba(0, 0, 0, 0.2);
}

.percentage-width {
	position : absolute;
	top : 0;
	left : 0;
}

.fa-solid { margin-right: 5px; }

.content {
	color: var(--accent-text-color);
}

.filters {
	position: fixed;
	bottom: 2rem;
	left: 1.5rem;
	z-index: 999;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 200px;
}

.filter-btn {
	background: var(--accent-color);
	border: none;
	padding: 0 0.5rem;
	border-radius: 8px;
	cursor: pointer;
	transition: transform 0.2s, background-color 0.2s;
	color: var(--accent-text-color);
	font-size: 1.1rem;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	width: 50px;
	height: 50px;
}

.filter-btn.active,
.filter-btn:hover {
	background-color: var(--main-bg-color);
  	transform: scale(1.1);
	color: var(--accent-color);
}

.filter-btn i {
    padding: 0;
    margin: 0;
}

.color-platinum {
	color: var(--platine-color) !important;
}

.color-gold {
	color: var(--gold-color) !important;
}

.dark .filter-btn.active,
.dark .filter-btn:hover {
	color: white;
}

#changelog-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

#changelog-popup.active {
  opacity: 1;
  pointer-events: all;
}


.changelog-content {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  font-size: 1rem;
}

.dark .changelog-content {
	color: var(--accent-text-color);
}

.changelog-content h2 {
	font-size: 2rem;
	margin: 0;
}

.changelog-content h3 {
	text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    margin: 0 0 20px 0;
    color: #fff;
    background: var(--accent-color);
	margin: 20px 0;
}

.changelog-content ol {
	margin-left: 2rem;
}

#close-changelog {
  padding: 0.5rem 1rem;
  color: var(--accent-text-color);
  border: none;
  font-size: 1.3rem;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--accent-color);
  text-align: center;
  display: block;
  margin: 2rem auto 0;
}

#close-changelog i {
	padding: 0;
	margin: 0;
}

#close-changelog:hover {
  background: var(--accent-text-color);
  color: var(--accent-color);
}

#see-changelog .badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 12px;
  font-weight: bold;
  animation: pulseBadge 1.5s infinite;
}

#corrections {
	display: none;
}


/* RESPONSIVE */
@media only screen and (max-width: 1920px) {
	.section-title { font-size: 1.5rem;}
	.informations-borders { height: 273px;}
}

@media only screen and (max-width: 912px) {
	.site-navigation .list {
		align-items: normal;
	}

	.site-header {
		height: 84px;
		position: fixed;
	}

	.site-navigation .list { 
		position: absolute;
		display: flex;
		flex-direction: column;
		background: rgba(0, 114, 206, 0.5);
		backdrop-filter: blur(5px);
		width: 100%;
		height: 100vh;
		top: 0;
		right: 0;
		margin-right: -100%;
		justify-content: center;
		transition: 400ms all ease;
	}

	.site-navigation__sub-item:hover {
		background-color: var(--text-color);
	}

	.site-navigation__sub-item:hover .link {
		color: var(--accent-color);
	}

	.link {
		display: block;
		text-align: center;
		padding : 20px;
		font-size: 1.3rem;
	}

	.selected:after {
		position: absolute;
		display: block;
		content: "";
		border-style: solid;
		border-width: 8px;
		border-color: transparent var(--accent-text-color) transparent transparent;
		bottom: 35%;
		right: 0;
		padding: 0;
		margin: 0;
	}

	.site-navigation__sub-item:hover .selected:after {
		border-color : transparent var(--accent-text-color) transparent transparent;
	}

	.menu-hamburger { 
		display: block;
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 1;
		width: 40px;
		height: 40px;
	}

	.menu-hamburger i {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		transition: opacity 0.3s ease, transform 0.3s ease;
		font-size: 1.5rem;
		color : var(--accent-text-color);
	}

	.icon-close {
		opacity: 0;
		transform: scale(0.5);
	}

	.menu-hamburger.active .icon-bars {
		opacity: 0;
		transform: scale(0.5);
	}

	.menu-hamburger.active .icon-close {
		opacity: 1;
		transform: rotate(90deg) scale(1);
	}

	.header-icon {
		position: absolute;
		top: 20%;
		left: 7%;
		height: 50px;
		background-size: 50%;
	}

	.list.mobile-menu {
		margin-right: 0;
	}

	/* DARKMODE HAMBURGER */
	.dark .site-navigation .list { 
		background: rgba(0, 0, 0, 0.5);
	}

	.dark .site-navigation__sub-item:hover .link {
		color: var(--accent-text-color);
	}

	.dark .selected:after {
		border-color: transparent var(--accent-text-color) transparent transparent;
	}
	
	.dark-options {
		transform: scale(0.9);
	}

	.top-bar-limits {
		padding-right: 30px!important;
	}
}

@media only screen and (max-width: 768px) {
    .site-section {
		font-size: 1rem;
	}
	
	.ps-main { margin-left: 0; padding: 5rem 1rem;}

	.filters, 
	.filter-platforms {
		width: auto;
		bottom: 1rem;
		gap: 8px;
		flex-direction: column;
		left: 0.5rem;
  }

  .filter-btn,
  .platform-btn {
		width: 44px;
		height: 44px;
		font-size: 1rem;
		padding: 0;
  }

  	.site-header {
        position: fixed;
        z-index: 9999;
    }

    .top-bar {
        position: absolute;
        top: 84px;
        left: 0;
        z-index: 1;
    }

	.site-main {
		padding: 8rem 2rem 200px 2rem;
	}
}

@media screen and (max-width: 480px) {
  .filters {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0.5rem;
    gap: 6px;
    scrollbar-width: none; /* Firefox */
	width: auto!important;
  }

  .filters::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }

  .changelog-content {
	width: 75%;
	font-size: 0.8rem;
	overflow: auto;
	max-height: 400px;
  }

  .changelog-content h2 {
	font-size: 1.4rem;
	padding: 1rem;
  }

  .changelog-content h3 {
	font-size: 0.9rem;
	padding: 0.5rem;
  }

}

@media screen and (max-height: 1080px) {
	.filters {
		width: 250px;
		left: 0;
	}

	.filter-btn {
		width: 40px;
		height: 40px;
		font-size: 0.9rem;
	}

	.top-bar-limits {
		padding-right: 3rem;
	}
}
