#profile-popup { 
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: background .4s ease;
    width: 100vw;
    height: 100vh;
}

#profile-popup.active { 
    display: flex; 
    background: rgba(0,0,0,0.7)
}

.profile-popup-content {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    border-radius: 10px;
    padding: 2rem;
    width: 650px;
    max-height: 85vh;
    overflow-y: auto;
    position: relative;
    animation: popupFade 0.4s ease-out;
}

@keyframes popupFade {
    from { transform: translateY(10px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: var(--accent-color);
    font-size: 1.3rem;
    cursor: pointer;
}

.close-popup-btn:hover {
    color: var(--accent-text-color);
}

.profile-banner {
    width: 100%;
    height: 120px;
    background: url('/assets/images/banner-profile.png') center/cover;
    border-radius: 8px;
    margin-bottom: -50px;
}

.profile-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: 4px solid var(--accent-color);
}

.profile-name,
.profile-subtitle {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    margin: 0 0 20px 0;
    color: #fff;
    background: var(--accent-color);
	margin: 20px 0;
}

.profile-desc {
    text-align: center;
    margin-bottom: 20px;
}

.profile-desc span:nth-of-type(even),
.profile-stats span:nth-of-type(even),
.profile-challenges i {
    color: var(--accent-color);
    font-weight: bolder;
}

.dark .profile-desc span:nth-of-type(even),
.dark .profile-stats span:nth-of-type(even),
.dark .profile-challenges i {
    color: var(--lighter-accent-color);
    font-weight: bolder;
}

.profile-stats,
.profile-challenges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.profile-stats li {
    width: 140px;
    text-align: center;
}

.profile-stats li span {
    display: block;
}

.profile-stats li:last-of-type span {
    display: inline;
}

.profile-stats li:last-of-type {
    width: 50%;
    text-transform: uppercase;
    color: var(--accent-color);
    text-align: center;
    font-weight: bolder;
    margin: 0 auto;
}

.dark .profile-stats li:last-of-type {
    color: var(--lighter-accent-color);
}

.profile-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-links a {
    padding: 0.5rem 1rem;
    color: var(--accent-text-color);
    border: none;
    font-size: 1.3rem;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--accent-color);
    text-align: center;
    display: block;
}

.profile-links a:hover {
    background-color: var(--accent-text-color);
    color: var(--accent-color);
}

.profile-links .fa-twitch,
.profile-links .fa-youtube {
    color: var(--accent-text-color);
}

.profile-links a:hover .fa-twitch,
.profile-links a:hover .fa-youtube {
    color: var(--accent-color);
}

.profile-btn,
#see-changelog {
    background: transparent;
    border: none;
    color: var(--accent-text-color);
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 10px;
}

.global-progress-bar {
    width: 100%;
    height: 14px;
    background: var(--main-bg-color);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0 20px;
}

#global-progress-fill {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, var(--lighter-accent-color), var(--accent-color));
    transition: width 1.2s ease-out;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#global-progress-fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  animation: shine 12s ease-in-out infinite;
  pointer-events: none;
}

@keyframes shine {
  /* Shine actif pendant ~2s */
  0% {
    left: -50%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  16% {
    left: 120%; /* fin du mouvement */
    opacity: 0;
  }

  /* Pause totale (10 secondes ici) */
  100% {
    left: 120%;
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
    .profile-popup-content {
        width: 75%;
        font-size: 0.8rem;
        overflow: auto;
        max-height: 600px;
    }

    .profile-popup-content h2,
    .profile-popup-content h3 {
        font-size: 1rem;
    }

    .profile-stats li {
        width: auto;
    }

    .profile-stats li:last-of-type {
        width: 75%;
    }

    .profile-challenges {
        justify-content: center;
    }

    .profile-links a {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}